<!DOCTYPE html>
{% load static %}
<head>
    <title>{% block title %}Error page{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static "assets/css/main.css" %}"/>
</head>
<body class="subpage">
    <header id="header">
        <div class="inner">
            <a href="{% url 'index' %}" class="logo"><strong>TaskTracker</strong></a>
        </div>
    </header>
    <section class="wrapper" id="banner">
        <div class="inner">
            <header>
                <h1>{{ exception }}</h1>
                <br/>
                <br/>
                <br/>
            </header>
            <footer>
                <a href="{% url 'index' %}" class="button small">Main page</a>
            </footer>
        </div>
    </section>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/js/skel.min.js" %}"></script>
	<script src="{% static "assets/js/util.js" %}"></script>
	<script src="{% static "assets/js/main.js" %}"></script>
</body>
</html>