<!DOCTYPE html>
{% load static %}
<head>
    <title>{% block title %}TaskTracker{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static "assets/css/main.css" %}"/>
</head>
<body>
    <header id="header">
        <div class="inner">
            {% if not user_login %}
                <a href="{% url 'index' %}" class="logo"><strong>TaskTracker</strong></a>
            {% else %}
                <a href="{% url 'index' %}" class="logo"><strong>TaskTracker : {{user_login}}</strong></a>
            {% endif %}
            <nav id="nav">
                <a href="{% url 'tasks' %}">Tasks</a>
                <a href="{% url 'groups' %}">Groups</a>
                <a href="{% url 'plans' %}">Plans</a>
                {% if not user_login %}
                    <a href="{% url 'login' %}">Sign in</a>
                {% else %}
                    <a href="{% url 'logout' %}">Log out</a>
                {% endif %}
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Welcome to TaskTracker</h1>
                <br>
                <br>
                <h3>Application to control your time</h3>
                <br>
                <br>
                <br>
                <br>
            </header>

            <footer>
                <a href="{% url 'register' %}" class="button">Get Started</a>
            </footer>
        </div>
    </section>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/js/skel.min.js" %}"></script>
	<script src="{% static "assets/js/util.js" %}"></script>
	<script src="{% static "assets/js/main.js" %}"></script>
</body>
</html>