{% extends "base.html" %}
{% block title %}User Tasks{% endblock %}
{% block content %}
    <header class="align-center">
        <h2>Tasks</h2>
    </header>

    <a href="{% url 'filter-tasks' %}" class="button small">Set tasks filter</a>
    <hr class="major">

    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>End date</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.end_date }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.priority }}</td>
                        <td>
                            <a href="{% url 'task-edit' task.id %}" class="button small">Edit</a>
                            <a href="{% url 'task-remove' task.id %}" class="button small">Remove</a>
                            {% if task.status.name == 'IN_PROCESS' %}
                                <a href="{% url 'task-finish' task.id %}" class="button small">Finish</a>
                            {% endif %}
                            {% if task.is_archive != True %}
                                <a href="{% url 'task-archive' task.id %}" class="button small">Archive</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'add-task' %}" class="button default">Add task</a>
{% endblock %}